.title {
  color: rgb(14, 8, 90);
  font-size: 1.5rem;
  font-weight: 600;
}

.add-btn {
  background-color: rgb(14, 8, 90);
  color: #fff;
}

.edit-btn {
  color: rgb(14, 8, 90);

  /* color: #fff; */
}

.client {
  cursor: pointer;
}
