<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>

  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <div class="dashboard-wrapper">
    <div class="dashboard-finance">
      <div class="container-fluid dashboard-content">
        <div class="header d-flex">
          <div class="box">
            <h1 class="title">Client Details</h1>
          </div>
          <div class="box">
            <button
              type="button"
              class="btn add-btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="clickAddClient()"
            >
              Add Clients
            </button>
          </div>
        </div>

        <!-- {{alertInstance}} -->
        <ng-container>
          <div
            *ngIf="alertInstance === 'Successful'"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong>Hurray!</strong> Client added successfully
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Error, Try Again'"
            class="alert alert-02 alert-warning alert-dismissible fade show"
            role="alert"
          >
            <strong>Ooops!</strong> Something went wrong.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Updated'"
            class="alert alert-info alert-dismissible fade show"
            role="alert"
          >
            <strong>Good!</strong> Data updated successfully.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Deleted'"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Successful!</strong> Data deleted.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </ng-container>

        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th class="client" (click)="sortData()" scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Telephone</th>
              <!-- <th scope="col">Address</th> -->
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of clientData| paginate : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            }; let i = index">
              <td>{{ ((page-1)*tableSize)+(i+1) }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.email }}</td>
              <!-- <td>{{ row.address }}</td> -->
              <td>{{ row.telephone }}</td>
              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="onEdit(row)"
                  class="btn btn-outline-primary edit-btn"
                >
                  Edit
                </button>

                <button
                  (click)="deleteClients(row)"
                  class="btn btn-outline-danger mx-3"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="tabSize($event)"
      >
      </pagination-controls>
    </div>

        <!-------------------------------------- MODAL -------------------------->

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Client Details
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formValue">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      style="text-transform: capitalize"
                      id="name"
                      aria-describedby="nameHelp"
                      formControlName="name"
                    />

                    <div
                      *ngIf="m.name.touched && m.name.invalid"
                      class="alert alert-danger"
                    >
                      <div *ngIf="m.name.errors?.required">
                        Please enter client's name
                      </div>
                      <div *ngIf="m.name.errors?.pattern">
                        Please enter a valid name!
                      </div>
                      <div *ngIf="m.name.errors?.minlength">
                        Name must be at least 4 letters long.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      aria-describedby="emailHelp"
                      formControlName="email"
                    />

                    <div
                      *ngIf="m.email.touched && m.email.invalid"
                      class="alert alert-danger"
                    >
                      <div *ngIf="m.email.errors?.required">
                        Please enter client's email
                      </div>
                      <div *ngIf="m.email.errors?.pattern">Invalid email</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="phone">Telephone</label>
                    <input
                      type="text"
                      class="form-control"
                      id="telephone"
                      formControlName="telephone"
                    />

                    <div
                      *ngIf="m.telephone.touched && m.telephone.invalid"
                      class="alert alert-danger"
                    >
                      <div *ngIf="m.telephone.errors?.required">
                        Please enter mobile number
                      </div>
                      <div *ngIf="m.telephone.errors?.pattern">
                        Incomplete phone number
                      </div>
                    </div>
                  </div>

                  <legend class="text-center">Billing Address</legend>
                  <div class="billingInput">
                    <div class="form-group">
                      <label for="address">RepName</label>
                      <input
                        type="text"
                        class="form-control"
                        style="text-transform: capitalize"
                        id="repName"
                        formControlName="repName"
                      />

                      <div
                        *ngIf="m.repName.touched && m.repName.invalid"
                        class="alert alert-danger"
                      >
                        <div *ngIf="m.repName.errors?.required">
                          Please enter client's name
                        </div>
                        <div *ngIf="m.repName.errors?.pattern">
                          Please enter a valid name!
                        </div>
                        <div *ngIf="m.repName.errors?.minlength">
                          Name must be at least 3 letters long.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input
                        type="text"
                        class="form-control"
                        style="text-transform: capitalize"
                        id="address"
                        formControlName="address"
                      />

                      <div
                        *ngIf="m.address.touched && m.address.invalid"
                        class="alert alert-danger"
                      >
                        <div *ngIf="m.address.errors?.required">
                          Please enter client's address
                        </div>
                        <div *ngIf="m.address.errors?.pattern">
                          Valid address is required!
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input
                        type="text"
                        class="form-control"
                        id="city"
                        formControlName="city"
                      />

                      <div
                        *ngIf="m.city.touched && m.city.invalid"
                        class="alert alert-danger"
                      >
                        <div *ngIf="m.city.errors?.required">
                          Please enter client's City
                        </div>
                        <div *ngIf="m.city.errors?.pattern">
                          Name must be more than two letters
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="postalCode">Postal Code</label>
                      <input
                        type="text"
                        class="form-control"
                        id="postalCode"
                        formControlName="postalCode"
                      />

                      <div
                        *ngIf="m.postalCode.touched && m.postalCode.invalid"
                        class="alert alert-danger"
                      >
                        <div *ngIf="m.postalCode.errors?.required">
                          Please enter client's postalCode!
                        </div>
                        <div *ngIf="m.postalCode.errors?.pattern">
                          Invalid PostalCode!
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="state">State</label>
                      <input
                        type="text"
                        class="form-control"
                        style="text-transform: capitalize"
                        id="state"
                        formControlName="state"
                      />

                      <div
                        *ngIf="m.state.touched && m.state.invalid"
                        class="alert alert-danger"
                      >
                        <div *ngIf="m.state.errors?.required">
                          Please enter client's State!
                        </div>
                        <div *ngIf="m.state.errors?.pattern">Invalid City!</div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-bs-dismiss="modal"
                  id="cancel"
                >
                  Close
                </button>
                <button
                  (click)="postClientDetails()"
                  type="button"
                  class="btn add-btn"
                  *ngIf="showAdd"
                >
                  Add
                </button>

                <button
                  (click)="updateClientDetails()"
                  type="button"
                  class="btn add-btn"
                  *ngIf="showUpdate"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
