.all-Forms{
width: 500px;
height: 500px;
float: left;
}


input{
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-top: 0px;
}
.fa-trash{
   position: relative;
   left: 510px;
   bottom: 30px;
}
.fa-plus{
    position: relative;
    left: 540px;
    bottom: 54px;
}
.marginalized{
    margin-top: -50px;
}