<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <div class="dashboard-wrapper">
    <div class="dashboard-finance">
      <div class="container-fluid dashboard-content">
        <nav class="navbar ">
          <div class="container d-flex">
            <h2>Quote Page</h2>
            <button
              type="button"
              data-toggle="modal"
              data-target="#exampleModalLong"
              class="btn create"
            >
              Add New Quote
            </button>
          </div>
        </nav>

        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Client Name</th>
              <th scope="col">Vehicle Name</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Actions</th>
              <!-- <th scope="col">Status</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of quoteData| paginate : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };  let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.clientName }}</td>
              <td>{{ row.vehicleName }}</td>
              <td>{{ row.totalAmount | currency: "NGN" }}</td>

              <td>
                <!-- <button+

                  class="btn btn-secondary mx-3"
                  data-toggle="modal"
                  data-target="#ViewsModal"
                  type="button"
                  (click)="onViewClick(row)"
                >
                  View
                </button+>

                <button
                  class="btn btn-info"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  type="button"
                  (click)="onEdit(row)"
                >
                  Edit
                </button>

                <button class="btn btn-danger mx-3" (click)="deleteQuote(row)">
                  Delete
                </button> -->

                <div class="dropdown d-flex">
                  <button
                    class="btn btn-add dropdown-toggle"
                    type="button"
                    id="dropdownMenu2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button
                      (click)="onViewClick(row)"
                      class="dropdown-item"
                      type="button"
                      (click)="viewQuote(row)"
                    >
                      View
                    </button>
                    <button
                      data-toggle="modal"
                      data-target="#exampleModalLong"
                      (click)="onEdit(row)"
                      class="dropdown-item"
                      type="button"
                      *ngIf="!row.isApproved"
                    >
                      Edit
                    </button>
                    <button
                      (click)="deleteQuote(row)"
                      class="dropdown-item"
                      type="button"
                    >
                      Delete
                    </button>
                    <button
                      (click)="confirmBox(row)"
                      class="dropdown-item"
                      type="button"
                      *ngIf="!row.isApproved"
                    >
                      Approve
                    </button>
                  </div>
                  <div class="" *ngIf="hideInvoiceList()">
                    <button
                    (click)="goToInvoice(row)"
                    type="button"
                    class="btn btn-outline-primary create-btn"
                    *ngIf="row.isApproved"
                  >
                    Create Invoice
                  </button>
                  </div>
                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>

            <!-- Pagination -->
            <div class="d-flex justify-content-center pagination">
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="tabSize($event)"
              >
              </pagination-controls>
            </div>

        <!--Quote Modal -->
        <div class="container">
          <div
            class="modal fade bd-example-modal-lg"
            id="exampleModalLong"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title mx-5 my-3" id="exampleModalLong">
                    Quote Details
                  </h4>
                  <button
                    class="close bg-danger btn btn-danger mx-5 my-1"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="all-Forms" [formGroup]="addQuoteTypeForm">
                    <div class="form-group">
                      <label> Client Name </label>
                      <ng-select
                        [items]="clients"
                        bindLabel="name"
                        style="text-transform: capitalize"
                        bindValue="id"
                        formControlName="clientId"
                        (change)="trackClientId($event)"
                      ></ng-select>
                      <div
                        class="text-danger"
                        *ngIf="
                          addQuoteTypeForm
                            .get('clientId')
                            ?.hasError('required') &&
                          addQuoteTypeForm.get('clientId')?.touched
                        "
                      >
                        Client Id is required
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="
                          addQuoteTypeForm
                            .get('clientId')
                            ?.hasError('minlength') &&
                          addQuoteTypeForm.get('clientId')?.touched
                        "
                      >
                        Client Id should be a minimum length of 10 characters
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="
                          addQuoteTypeForm
                            .get('clientId')
                            ?.hasError('maxlength') &&
                          addQuoteTypeForm.get('clientId')?.touched
                        "
                      >
                        Client Id should have a maximum length of 20 characters
                      </div>
                    </div>

                    <div class="form-group">
                      <label> Vehicle Name </label>
                      <ng-select
                        [items]="clientVehicles"
                        bindLabel="vehicleName"
                        style="text-transform: capitalize"
                        bindValue="id"
                        formControlName="vehicleId"
                        (click)="trackVehicle($event)"
                      ></ng-select>
                      <div
                        class="text-danger"
                        *ngIf="
                          vehicleIDControl?.hasError('required') &&
                          vehicleIDControl?.touched
                        "
                      >
                        Vehicle Id is required
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="
                          vehicleIDControl?.hasError('maxlength') &&
                          vehicleIDControl?.touched
                        "
                      >
                        Vehicle Id should be a maximum length of 10 characters
                      </div>
                      <div
                        class="text-danger"
                        *ngIf="
                          vehicleIDControl?.hasError('minlength') &&
                          vehicleIDControl?.touched
                        "
                      >
                        Vehicle Id should be a minimum length of 5characters
                      </div>
                    </div>

                    <div class="form-group" formArrayName="items">
                      <div
                        *ngFor="
                          let creds of itemsFormArray.controls;
                          let i = index
                        "
                      >
                        <ng-container [formGroupName]="i">
                          <div class="form-group">
                            <div class="d-flex mt-5">
                              <div class="service-title mx-4">
                                <label>Services</label>
                              </div>
                              <div class="btn-delete mb-2">
                                <button
                                  (click)="removeItems(i)"
                                  type="button"
                                  class="btn btn-outline-danger"
                                >
                                  Delete service
                                </button>
                              </div>
                            </div>

                            <ng-select
                              [items]="item"
                              bindLabel="name"
                              style="text-transform: capitalize"
                              bindValue="name"
                              formControlName="item"
                            ></ng-select>
                          </div>

                          <!-- <div class="marginalized"> -->

                          <div class="form-group">
                            <label for="unit">Unit</label>
                            <input
                              type="number"
                              min="1"
                              max="100"
                              formControlName="unit"
                              class="form-control unit"
                              (change)="onUnitChange($event)"
                              placeholder="Enter unit"
                              (ngModelChange)="processCalculation(i)"
                            />
                          </div>

                          <div class="form-group">
                            <label for="rate">Rate</label>
                            <input
                              type=""
                              formControlName="rate"
                              class="form-control rate"
                              placeholder="Enter rate"
                              (ngModelChange)="processCalculation(i)"
                            />
                          </div>

                          <div class="col-md-6">
                            <label class="total mx-2">Total:</label>
                            <span>{{
                              this.addQuoteTypeForm.value.items[i].rate *
                                this.addQuoteTypeForm.value.items[i].unit
                                | currency: "NGN"
                            }}</span>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="btn-box">
                      <button
                        (click)="addItems()"
                        type="button"
                        class="btn btn-primary"
                      >
                        {{ buttonText }}
                      </button>
                    </div>

                    <div class="quote-total mb-4">
                      <!-- <h4>Total Amount:</h4>
                      <p>#20,000.00</p> -->
                      <div class="form-group">
                        <label class="totalamt" for="TAmount"
                          >Total Amount:
                        </label>
                        <span>{{ totalAmount | currency: "NGN" }}</span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    id="cancel"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    (click)="addQuoteType()"
                    *ngIf="!test"
                    [disabled]="!addQuoteTypeForm.valid"
                    type="button"
                    class="btn btn-primary"
                  >
                    Add
                  </button>

                  <button
                    (click)="updateQuote()"
                    *ngIf="test"
                    type="button"
                    class="btn btn-primary"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
