<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <div class="dashboard-wrapper">
    <div class="dashboard-finance">
      <div class="container-fluid dashboard-content">
        <nav class="navbar navbar-light bg-light">
          <div class="container d-flex">
            <h2>Quote Page</h2>
            <button
              type="button"
              data-toggle="modal"
              data-target="#exampleModal"
              class="btn btn-add"
            >
              Add New Quote
            </button>
          </div>
        </nav>

        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Quote Id</th>
              <th scope="col">Client Name</th>
              <th scope="col">Vehicle Name</th>
              <th scope="col">Services</th>
              <th scope="col">Amount</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Quote101</td>
              <td>Shukurah Bakare</td>
              <td>Toyota Camry</td>
              <td>Alignment</td>
              <td>#20,000</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-edit dropdown-toggle"
                    type="button"
                    id="dropdownMenu2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item btn btn-info" type="button">
                      View
                    </button>
                    <button class="dropdown-item btn edit-btn" type="button">
                      Edit
                    </button>
                    <button class="dropdown-item btn btn-danger" type="button">
                      Delete
                    </button>
                  </div>

                  <button
                    (click)="goToInvoice()"
                    class="btn invoice btn-invoice mx-4"
                  >
                    Create Invoice
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title mx-5 my-3" id="exampleModalLabel">
                  Quote Details
                </h4>
                <button
                  class="close bg-danger btn btn-danger mx-5 my-1"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngIf="isQuoteCreated" class="bg-success">
                  Quote Added Successfully
                </div>
                <form
                  #addQuoteForm="ngForm"
                  class="all-Forms"
                  (submit)="(addQuoteType)"
                  [formGroup]="addQuoteTypeForm"
                >
                  <div class="form-group">
                    <label> Client Name </label>
                    <ng-select
                      [items]="clients"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="clientId"
                      (keyup)="trackClientId()"
                    ></ng-select>
                    <div
                      class="text-danger"
                      *ngIf="
                        addQuoteTypeForm
                          .get('clientId')
                          ?.hasError('required') &&
                        addQuoteTypeForm.get('clientId')?.touched
                      "
                    >
                      Client Id is required
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="
                        addQuoteTypeForm
                          .get('clientId')
                          ?.hasError('minlength') &&
                        addQuoteTypeForm.get('clientId')?.touched
                      "
                    >
                      Client Id should be a minimum length of 10 characters
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="
                        addQuoteTypeForm
                          .get('clientId')
                          ?.hasError('maxlength') &&
                        addQuoteTypeForm.get('clientId')?.touched
                      "
                    >
                      Client Id should have a maximum length of 20 characters
                    </div>
                  </div>

                  <div class="form-group">
                    <label> Vehicle Name </label>
                    <ng-select
                      [items]="vehicle"
                      bindLabel="vehicleName"
                      bindValue="id"
                      formControlName="vehicleId"
                    ></ng-select>
                    <div
                      class="text-danger"
                      *ngIf="
                        vehicleIDControl?.hasError('required') &&
                        vehicleIDControl?.touched
                      "
                    >
                      Vehicle Id is required
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="
                        vehicleIDControl?.hasError('maxlength') &&
                        vehicleIDControl?.touched
                      "
                    >
                      Vehicle Id should be a maximum length of 10 characters
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="
                        vehicleIDControl?.hasError('minlength') &&
                        vehicleIDControl?.touched
                      "
                    >
                      Vehicle Id should be a minimum length of 5characters
                    </div>
                  </div>

                  <div class="form-group" formArrayName="items">
                    <label>Services</label>

                    <div
                      *ngFor="
                        let creds of itemsFormArray.controls;
                        let i = index
                      "
                    >
                      <ng-container [formGroupName]="i">
                        <div class="form-group">
                          <ng-select
                            [items]="item"
                            bindLabel="name"
                            bindValue="name"
                            formControlName="item"
                          ></ng-select>
                          <div (click)="removeItems(i)">
                            <i class="fas fa-trash"></i>
                          </div>
                          <div (click)="addItems()">
                            <i class="fas fa-plus"></i>
                          </div>
                        </div>

                        <div class="marginalized">
                          <div class="form-group">
                            <input
                              type="number"
                              formControlName="unit"
                              class="form-control my-4"
                              placeholder="Unit"
                            />
                          </div>

                          <div class="form-group">
                            <input
                              type="number"
                              formControlName="rate"
                              class="form-control my-4"
                              placeholder="Rate"
                            />
                          </div>

                          <div class="form-group">
                            <input
                              type="number"
                              formControlName="amount"
                              class="form-control my-4"
                              placeholder="Amount"
                            />
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- <button (click)="updateQuote">Update Quote</button>
                <button (click)="deleteQuote">Delete Quote</button> -->
                  <!-- <p> {{ quotes | json}}</p> -->

                  <!-- <ul *ngFor="let quote of quotes">
                    <li>{{ quote }}</li>
                </ul> -->
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  (click)="addQuoteType()"
                  [disabled]="!addQuoteTypeForm.valid"
                  type="button"
                  class="btn btn-add"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <button (click)="enableEditMethod(row)" *ngIf="!enableEdit" 
                        type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn edit-btn ">Edit</button>
                        <button (click)="deleteQuote(row)" class="btn btn-danger mx-3">Delete</button> -->
      </div>
    </div>
  </div>
</div>
