.all-Forms {
  width: 300px;
  height: 450px;
  float: left;
}

input {
  width: 300px;
  height: auto;
  border-radius: 5px;
  margin-top: 0px;
}
.fa-trash {
  position: relative;
  left: 310px;
  bottom: 30px;
}
.fa-plus {
  position: relative;
  left: 340px;
  bottom: 54px;
}
.marginalized {
  margin-top: -50px;
}

/* .d-flex {
  justify-content: flex-start;
} */
.create,
.btn-add,
.btn-edit {
  background-color: rgb(14, 8, 90);
  color: #fff;
}

/* .btn-invoice {
  background-color: rgb(40, 32, 157);
  color: #fff;
} */
.all-Forms {
  width: 400px;
  height: 450px;
  float: left;
  overflow: auto;
  position: relative;
}
input {
  width: 300px;
  height: auto;
  border-radius: 5px;
}
.fa-trash {
  position: relative;
  left: 370px;
  top: 2px;
}
.fa-plus {
  position: relative;
  left: 350px;
  bottom: 23px;
}
.marginalized {
  margin-top: -50px;
}
#ViewsModal input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.create-btn {
  background-color: rgb(40, 32, 157);
  color: #fff;
  margin-left: 8em;
}
