<div class="splash-container sign-up">
    <div class="card ">
        <div class="card-header text-center">
            <a href="../index.html"><img class="logo-img"
                    src="https://images.unsplash.com/photo-1611176346948-a19de4f62140?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc2VydmljZSUyMGxvZ298ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="logo"></a><span class="splash-description">Please enter your information.</span>
        </div>
        <div class="card-body">
            <form [formGroup]="signUpForm">

                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control form-control-lg" id="username" type="text" placeholder="Email Address"
                        autocomplete="off" formControlName="email"
                        [class.is-invalid]="!signUpForm.get('email')?.valid && signUpForm.get('email')?.touched">
                    <span *ngIf="!signUpForm.get('email')?.valid && signUpForm.get('email')?.touched">
                        please provide a valid email
                    </span>
                </div>

                <div class="form-group">
                    <label for="">First Name</label>
                    <input class="form-control form-control-lg"  type="text" placeholder="First Name"
                        formControlName="firstName" required
                        [class.is-invalid]="!signUpForm.get('firstName')?.valid && signUpForm.get('firstName')?.touched">
                    <span class="text-danger" *ngIf="validatorMsgFirst()">
                        {{validatorMsgFirst()}}
                    </span>
                </div>

                <div class="form-group">
                    <label for="">Last Name</label>
                    <input class="form-control form-control-lg" id="password" placeholder="LastName"
                        formControlName="lastName"
                        [class.is-invalid]="!signUpForm.get('lastName')?.valid && signUpForm.get('lastName')?.touched">
                    <span class="text-danger" *ngIf="validatorMsgLast()">
                        {{validatorMsgLast()}}
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control form-control-lg" id="password" type="password" placeholder="password"
                        formControlName="password"
                        [class.is-invalid]="!signUpForm.get('password')?.valid && signUpForm.get('password')?.touched">
                    <span *ngIf="!signUpForm.get('password')?.valid && signUpForm.get('password')?.touched">
                        Password is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input class="form-control form-control-lg" id="password" type="password"
                        placeholder="Confirm Password" formControlName="confirmPassword" appMatchPassword="password"
                        [class.is-invalid]="!signUpForm.get('confirmPassword')?.valid && signUpForm.get('confirmPassword')?.touched"
                        [class.is-valid]="!signUpForm.errors?.notEqual && signUpForm.get('confirmPassword')?.touched">
                    <span
                        *ngIf="!signUpForm.get('confirmPassword')?.valid && signUpForm.get('confirmPassword')?.touched">
                        Confirm Password is required
                    </span>
                    <span
                        *ngIf="signUpForm.get('confirmPassword')?.errors?.notEqual && signUpForm.get('confirmPassword')?.touched">
                        Passwords Dont Match
                    </span>
                </div>
                <a href="#" routerLink="/home">
                    <button class="btn btn-primary btn-lg btn-block" >Sign Up</button></a>
            </form>
        </div>
        <div class="card-footer bg-white p-0 d-flex ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="#" class="footer-link" routerLink="/sign-in">Already Have An Account? Login</a>
            </div>
            <!-- <div class="card-footer-item card-footer-item-bordered">
                <a href="#" class="footer-link">Forgot Password</a>
            </div> -->
        </div>
    </div>
</div>
<router-outlet></router-outlet>