<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <!-- <li class="nav-divider">
                        <i class="fa fa-fw fa-user-circle"></i>
                        Menu
                    </li> -->
                    <li class="nav-item ">
                        <a class="nav-link " href="#" routerLink="/dashboard" ><i class="fas fa-home"></i>Dashboard </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active"  routerLink="/home" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                    </li><br>
                    <li class="nav-item ">
                        <a class="nav-link " routerLink="/client" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Client <span class="badge badge-success"></span></a>
                    </li><br>
                    <li class="nav-item ">
                        <a class="nav-link " routerLink="/vehicle" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Vehicle <span class="badge badge-success">6</span></a>
                    </li><br>
                    <li class="nav-item">
                        <a class="nav-link " href="#" ><i class="fa fa-fw fa-user-circle"></i>Client </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#"><i class="fas fa-car"></i>Vehicle </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#" routerLink="/services"><i class="fa fa-fw fa-user-circle"></i>Services </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#"><i class="fa fa-fw fa-user-circle"></i>Staff </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="#" ><i class="fab fa-wpforms"></i>Quote</a>
                    </li><li class="nav-item ">
                        <a class="nav-link " href="#"><i class="fab fa-wpforms"></i>Invoice </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/staff" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Staff <span class="badge badge-success">6</span></a>
                    </li><br>
                    <li class="nav-item ">
                        <a class="nav-link"  routerLink="/quote" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Quote<span class="badge badge-success">6</span></a>
                    </li><li class="nav-item ">
                        <a class="nav-link "  routerLink="/invoice" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Invoice <span class="badge badge-success">6</span></a>
                    </li><br>
                    <li class="nav-item ">
                    <a class="nav-link " href="#"  (click)="handleLogout
                    ()"><i class="fas fa-sign-out-alt"></i>Logout </a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>
</div>
