<div>
    <div class="modal-header">

        <h4 class="modal-title" id="modal-basic-title">Service</h4>

        <button type="button" class="close" aria-label="Close" (click)="closeModal()">

            <span aria-hidden="true">×</span>

        </button>

    </div>

    <div class="modal-body">

        <form [formGroup]="formValue" validate>
            <div class="form-group">
                <label for="name">Service Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name" >
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button id="cancel" (click)="closeModal()" type="submit" class="btn btn-sm btn-outline-danger">Close</button>
        <button (click)="postServiceDetails()" type="submit" class="btn btn-sm add-btn">Add</button>
        <button [disabled]="formValue.invalid" type="submit" class="btn btn-sm add-btn">Update</button>

    </div>
</div>