<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Staff Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <!-- [formGroup]="formValue" -->
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          autocapitalize
          class="form-control"
          id="name"
          aria-describedby="nameHelp"
          formControlName="name"
          (keyup)="handleErrMsg('name', formValue.controls.name.value)"
        />
        <span class="text-danger" *ngIf="errMsg.name">{{ errMsg.name }}</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          formControlName="email"
          (keyup)="handleErrMsg('email', formValue.controls.email.value)"
        />
        <span class="text-danger" *ngIf="errMsg.email">{{ errMsg.email }}</span>
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input
          type="text"
          class="form-control"
          id="Password"
          formControlName="password"
        />
        <span class="text-danger" *ngIf="">password is required</span>
      </div>
      <div class="form-group">
        <label for="Password">Role</label>
        <input
          type="text"
          autocapitalize
          class="form-control"
          id="Password"
          formControlName="role"
        />
        <span class="text-danger" *ngIf="">password is required</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      id="cancel"
      type="submit"
      (click)="closeModal()"
      class="btn btn-sm btn-outline-danger"
    >
      Close
    </button>
    <button (click)="postStaff()" type="submit" class="btn add-btn">Add</button>
    <button (click)="updatedStaff()" type="submit" class="btn btn-sm add-btn">
      Update
    </button>
  </div>
</div>
