<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Staff Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="formValue">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name"
                (keyup)="handleErrMsg('name', formValue.controls.name.value)">
                <span class="text-danger" *ngIf="errMsg.name">{{errMsg.name}}</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    formControlName="email" (keyup)="handleErrMsg('email', formValue.controls.email.value)">
                    <span class="text-danger" *ngIf="errMsg.email">{{errMsg.email}}</span>
             </div>
            <div class="form-group">
                <label for="phone">Telephone</label>
                <input type="text" class="form-control" id="phone" formControlName="phone"  (keyup)="handleErrMsg('phone', formValue.controls.phone.value)">
                <span class="text-danger" *ngIf="errMsg.phone">{{errMsg.phone}}</span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Staff Role
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li class="dropdown-item">Admin</li>
                  <li class="dropdown-item">Approver</li>
                  <li class="dropdown-item">Clerk</li>
                </ul>
            </div>
        </form>    
    </div>
    <div class="modal-footer">
        <button id="cancel" type="submit" (click)="closeModal()" class="btn btn-sm btn-outline-danger">Close</button>
        <button (click)="postClientDetails()" [disabled]="formValue.invalid"  type="submit" class="btn add-btn ">Add</button>
    </div>
</div>

