<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="header logo">FROM: Light Up Auto Care</div>
              <div class="receiver">
                <h4>TO:</h4>
                <p>{{ history.state.data.clientName }}</p>
                <p>Address: {{ history.state.data.billingAddress.address }}</p>
                <p>City: {{ history.state.data.billingAddress.city }}</p>
                <p>
                  PostalCode: {{ history.state.data.billingAddress.postalCode }}
                </p>
              </div>
            </div>

            <div class="invoice-info">
              <div class="card">
                <!-- <thead>
                  <th scope="col">Rep Name</th>
                  <th scope="col">Vehicle Name</th>
                  <th scope="col">Service:</th>
                  <th scope="col">Unit:</th>
                  <th scope="col">Rate:</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Created By</th>
                  <th scope="col">UpdatedOn</th>
                  <th scope="col">Date</th>
                </thead> -->

                <tbody class="mt-4">
                  <p class="title-02">
                    Rep Name: {{ history.state.data.billingAddress.repName }}
                  </p>
                  <p class="title-02">
                    Vehicle Name: {{ history.state.data.vehicleName }}
                  </p>
                  <p class="title-02">
                    Service: {{ history.state.data.items[0].item }}
                  </p>
                  <p class="title-02">
                    Unit: {{ history.state.data.items[0].unit }}
                  </p>
                  <p class="title-02">
                    Rate:
                    {{ history.state.data.items[0].rate | currency: "NGN" }}
                  </p>
                  <p class="title-02">
                    Total Amount:
                    {{ history.state.data.totalAmount | currency: "NGN" }}
                  </p>

                  <h6 class="title-03">History</h6>
                  <p>Created By: {{ history.state.data.createdByName }}</p>
                  <p>
                    UpdatedOn:
                    {{
                      history.state.data.updatedOn | date: "yyyy-MM-dd HH:mm"
                    }}
                  </p>
                  <p>
                    Date:
                    {{ history.state.data.createdOn | date: "yyyy-MM-dd" }}
                  </p>
                </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button (click)="sendInvoice($event)" class="btn add-btn">
        Send To Client
      </button> -->
    </div>
  </div>
</div>
