.title {
  color: rgb(14, 8, 90);
  font-size: 1.5rem;
  font-weight: 600;
}

.invoice-info {
  margin-top: 5em;
}

.logo {
  margin-right: 26em;
  color: rgb(38, 130, 158);
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: 700;
}

.title-02 {
  color: rgb(14, 8, 90);
  font-size: 1.2rem;
}

.title-03 {
  color: rgb(14, 8, 90);
  font-size: 1rem;
}
