<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="header logo">From: Light Up Auto Care</div>
              <div class="receiver">
                <h4>Bill To:</h4>
                <p>Client: {{ quoteData.clientName }}</p>

                <p>Address: {{ quoteData.billingAddress.address }}</p>
                <p>City: {{ quoteData.billingAddress.city }}</p>
                <p>PostalCode: {{ quoteData.billingAddress.postalCode }}</p>
                <p>State: {{ quoteData.billingAddress.state }}</p>
              </div>
            </div>

            <table class="table invoice-info">
              <div class="card">
                <tbody>
                  <h4 class="title-01 mt-4">
                    Rep Name: {{ quoteData.billingAddress.repName }}
                  </h4>
                  <h4 class="title-01 mt-4">
                    Vehicle Name: {{ quoteData.vehicleName }}
                  </h4>

                  <div
                    *ngFor="let item of quoteData.items; let i = index"
                    class="mt-4"
                  >
                    <div class="item">
                      <span class="title-02">Service: {{ item.item }}</span>
                    </div>

                    <div class="unit">
                      <span class="title-02">Unit: {{ item.unit }}</span>
                    </div>
                    <div class="rate">
                      <span class="title-02"
                        >Rate: {{ item.rate | currency: "NGN" }}</span
                      >
                    </div>
                    <div class="amount">
                      <span class="title-02">
                        Amount: {{ item.amount | currency: "NGN" }}</span
                      >
                    </div>
                  </div>

                  <div class="total mt-4">
                    <span class="title-04">
                      Total Amount:
                      {{ quoteData.totalAmount | currency: "NGN" }}
                    </span>
                  </div>
                </tbody>
                <tfoot>
                  <div class="d-flex mt-4">
                    <h6 class="title-03 mx-4">Quote History:</h6>

                    <p class="mx-4">
                      Created By: {{ quoteData.createdByName }}
                    </p>
                    <p class="mx-4">
                      UpdatedOn:
                      {{ quoteData.updatedOn | date: "MMM d, y, h:mm:ss a" }}
                    </p>
                    <p class="mx-4">
                      Date:
                      {{ quoteData.createdOn | date: "MMM d, y" }}
                    </p>
                  </div>
                </tfoot>
              </div>
            </table>
          </div>
        </div>
      </div>
      <button (click)="backToQuote($event)" class="btn add-btn mb-4">
        <!-- Back -->
        <span><i class="fas fa-arrow-left mx-2"></i>Back</span>
      </button>
    </div>
  </div>
</div>
