<div class="dashboard-main-wrapper">

    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <app-side-menu></app-side-menu>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">
            <div class="header  d-flex">
                <div class="box">
                    <h1 class="title">Vehicle Information</h1>
                </div>
                <div class="box">
                    <button type="button" (click)="open()" class="btn add-btn">Add Info</button>
                </div>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Name</th>
                        <th scope="col">Vehicle Name</th>
                        <th scope="col">Chasis No</th>
                        <th scope="col">Model</th>
                        <th scope="col">Client Id</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Laura</td>
                        <td>Volvo</td>
                        <td>t65f6b30h</td>
                        <td>2020</td>
                        <td>87654rt3s</td>
                        <td>
                            <button class="btn edit-btn">Edit</button>
                            <button class="btn btn-danger mx-3">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
  
        </div>
    </div>

</div>

