<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="header d-flex">
          <div class="box">
            <h1 class="invoice-text">Invoice History</h1>
          </div>
          <div class="box"></div>
        </div>
        <div class="card">
          <ng-container>
            <div
              *ngIf="alert"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong>Hurray!</strong> Invoice Deleted successfully
              <button
                (click)="closeAlert()"
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-container>

          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Client Name</th>
                <th scope="col">Vehicle Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Actions</th>
                <!-- <th scope="col">Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of invoiceData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ row.clientName }}</td>
                <td>{{ row.vehicleName }}</td>
                <td>{{ row.totalAmount | currency: "NGN" }}</td>

                <td>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-toggle="modal"
                    data-target=".bd-example-modal-lg"
                    (click)="setInvoice(row)"
                  >
                    View
                  </button>
                  <button
                    (click)="deleteInvoices(row)"
                    class="btn btn-outline-danger mx-3"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- display invoice -->

        <!-- Modal -->
        <div
          class="modal fade bd-example-modal-lg"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Invoice History
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                <div class="d-flex">
                  <div class="header logo-02">From: Light Up Auto Care</div>
                  <div class="receiver-02">
                    <h4>Bill To:</h4>
                    <p>Client:{{ selectedInvoice.clientName }}</p>
                    <p>
                      Address:
                      {{ selectedInvoice.billingAddress.address }}
                    </p>
                    <p>City: {{ selectedInvoice.billingAddress.city }}</p>
                    <p>
                      PostalCode:
                      {{ selectedInvoice.billingAddress.postalCode }}
                    </p>
                    <p>State: {{ selectedInvoice.billingAddress.state }}</p>
                  </div>
                </div>

                <h4 class="title-01 mt-4">
                  Rep Name:
                  {{ selectedInvoice.billingAddress.repName }}
                </h4>
                <h4 class="title-01 mt-4">
                  Vehicle Name: {{ selectedInvoice.vehicleName }}
                </h4>

                <div
                  *ngFor="let item of selectedInvoice.items; let i = index"
                  class="mt-4"
                >
                  <div class="d-flex-column">
                    <div class="item">
                      <span class="title-02">Service: {{ item.item }}</span>
                    </div>

                    <div class="unit">
                      <span class="title-02">Unit: {{ item.unit }}</span>
                    </div>
                    <div class="rate">
                      <span class="title-02"
                        >Rate: {{ item.rate | currency: "NGN" }}</span
                      >
                    </div>
                    <div class="amount">
                      <span class="title-02">
                        Amount: {{ item.amount | currency: "NGN" }}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="total mt-4">
                  <span class="title-04">
                    Total Amount:
                    {{ selectedInvoice.totalAmount | currency: "NGN" }}
                  </span>
                </div>
              </div>
              <!-- </div> -->
              <!-- </div> -->
            </div>

            <div class="modal-footer"></div>
            <!-- <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger"
                data-dismiss="modal"
              >
                Close
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
