.center {
  text-align: center;
}

.style {
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
  margin: 10% auto;
}

input {
  width: 250px;
}

.add-btn {
  background-color: rgb(14, 8, 90);
  color: #fff;
  margin: 3em;
}

.delete-btn {
  margin-bottom: 0.2em;
  padding: 0 0.1em;
  color: rgb(134, 31, 31);
}

.logo {
  margin-right: 26em;
  color: #035efc;
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: 700;
}

.details {
  text-align: center;
}

.invoice-text {
  font-size: 1.4rem;
}

.invoice-info {
  margin-top: 5em;
}

.title-02 {
  color: rgb(14, 8, 90);
  font-size: 1.2rem;
  margin-right: 2em;
  margin-top: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

.title-03 {
  color: rgb(14, 8, 90);
  font-size: 1rem;
}
.title-04 {
  color: rgb(14, 8, 90);
  font-size: 1.2rem;
  font-weight: 700;
}
.title-01 {
  color: rgb(14, 8, 90);
  font-size: 1.2rem;
  line-height: 20px;
}

.add-btn {
  background-color: rgb(14, 8, 90);
  color: #fff;
  margin-left: 10em;
}

/* .index-row {
  font-size: 0.2rem;
  margin-right: 2em;
  margin-top: 2em;
  padding-right: 2em;
  padding-top: 2em;
} */
