<div class="dashboard-main-wrapper">

    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <app-side-menu></app-side-menu>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <h1>QUOTE PAGE</h1>
                        <button (click)="clickAddQuote()" type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-success">Add Quote</button>
                    </div>
                </nav>

                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">Quote Id</th> -->
                            <th scope="col">Client Id</th>
                            <th scope="col">Vehicle Id</th>
                            <th scope="col">Items</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Rate(Naira)</th>
                            <th scope="col">Amount(Naira)</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of quoteData">
                            <td>{{ row.id }}</td>
                            <!-- <td>{{ row.quoteId }}</td> -->
                            <td>{{ row.clientId }}</td>
                            <td>{{ row.vehicleId }}</td>
                            <td>
                              <p *ngFor="let data of row.items">
                                {{data.item}}
                              </p>
                              <!-- {{ row.items }} -->
                            </td>
                            <td>{{ row.unit }}</td>
                            <td>{{ row.rate }}</td>
                            <td>{{ row.amount }}</td>
                            <td>
                            <button (click)="onEdit(row)" type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-info ">Edit</button>
                            <button (click)="deleteQuote(row)" class="btn btn-danger mx-3">Delete</button>
                            
                            </td>
                        </tr>

                    </tbody>


                </table>


                <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Quote Details</h4>
          <button type="button" class="close" class="btn btn-danger mx-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  [formGroup]="formValue" [formGroup]="reform">
                <!-- <div class="mb-3 ">
                  <label for="">Quote Id</label>
                  <input type="text" formControlName="quoteId" class="form-control" id="" aria-describedby="" placeholder="" [class.is-invalid]="reform.get('quoteId')?.invalid && reform.get('quoteId')?.touched">
                  <span *ngIf="reform.get('quoteId')?.invalid && reform.get('quoteId')?.touched" > Id Required (minimum length of 3 characters & maximum length of 7 characters)</span>
                </div> -->
                <div class="mb-3">
                  <label for="">Client Id</label>
                  <input type="text" formControlName="clientId" value="clientId" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('clientId')?.invalid && reform.get('clientId')?.touched">
                  <span *ngIf="reform.get('clientId')?.invalid && reform.get('clientId')?.touched" >Id Required (minimum length of 4 characters & maximum length of 8 characters)</span>
                </div>
                <div class="mb-3">
                    <label for="">Vehicle Id</label>
                    <input type="text" formControlName="vehicleId" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('vehicleId')?.invalid && reform.get('vehicleId')?.touched">
                    <span *ngIf="reform.get('vehicleId')?.invalid && reform.get('vehicleId')?.touched" > Id Required (minimum length of 5 characters & maximum length of 10 characters)</span>
                  </div>
                  <div class="mb-3">
                    <label for="">Items</label>
                    <input type="text" formControlName="items" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('items')?.invalid && reform.get('items')?.touched">
                    <span *ngIf="reform.get('items')?.invalid && reform.get('items')?.touched" >Items Required (minimum length of 10 characters & maximum length of 100 characters)</span>
                  </div>
                  <div class="mb-3">
                    <label for="">Unit</label>
                    <input type="number" formControlName="unit" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('unit')?.invalid && reform.get('unit')?.touched">
                    <span *ngIf="reform.get('unit')?.invalid && reform.get('unit')?.touched" >Invalid Entry (Insert Number Between 1-9) </span>
                  </div>
                  <div class="mb-3">
                    <label for="">Rate(Naira)</label>
                    <input type="number" formControlName="rate" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('rate')?.invalid && reform.get('rate')?.touched">
                    <span *ngIf="reform.get('rate')?.invalid && reform.get('rate')?.touched" >Invalid Entry (Insert Number Between 1-9) </span>
                  </div>
                  <div class="mb-3">
                    <label for="">Amount(Naira)</label>
                    <input type="number" formControlName="amount" class="form-control" id="" placeholder="" [class.is-invalid]="reform.get('amount')?.invalid && reform.get('amount')?.touched">
                    <span *ngIf="reform.get('amount')?.invalid && reform.get('amount')?.touched" > Invalid Details (minimum length of 3 characters & maximum length of 20 characters)</span>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button"  (click)="clickSub()" *ngIf="showAdd" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate"  (click)="updatePostQuoteDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
</div>