<!-- <ng-template #vehicleModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Vehicle Details</h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="vehicleName">Vehicle Name</label>
        <input
          type="text"
          class="form-control"
          id="vehicleName"
          aria-describedby="nameHelp"
          formControlName="vehicleName"
        />
      </div>
      <div class="form-group">
        <label for="chasis">Chasis No</label>
        <input
          type="text"
          class="form-control"
          id="chasis"
          aria-describedby="nameHelp"
          formControlName="chasis"
        />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input
          type="text"
          class="form-control"
          id="model"
          aria-describedby="nameHelp"
          formControlName="model"
        />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <select id="name" aria-describedby="nameHelp" formControlName="name">
          <option value="">Select Client</option>
          <option
            *ngFor="let client of clientData; let i = index"
            [value]="client"
          >
            {{ client.name }}
          </option>
        </select>
      </div>
    </form>
    <div class="modal-footer">
      <button
        id="cancel"
        type="submit"
        (click)="closeModal()"
        class="btn btn-sm btn-outline-danger"
      >
        Close
      </button>
      <button
        (click)="postVehicleDetails()"
        type="submit"
        class="btn btn-sm add-btn"
      >
        Add
      </button>
    </div>
  </div>
</ng-template> -->
