<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <!-- wrapper  -->
  <!-- ============================================================== -->
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <!-- alert -->
        <!-- <ng-container>
          <div
            *ngIf="alertInstance === 'Successful'"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong>Hurray!</strong> Invoice sent successfully
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Error, Try Again'"
            class="alert alert-02 alert-warning alert-dismissible fade show"
            role="alert"
          >
            <strong>Ooops!</strong> Something went wrong.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </ng-container> -->

        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="header logo">From: Light Up Auto Care</div>
              <div class="receiver">
                <h4>Bill To:</h4>
                <p>Client:{{ history.state.data.clientName }}</p>
                <p>Address: {{ history.state.data.billingAddress.address }}</p>
                <p>City: {{ history.state.data.billingAddress.city }}</p>
                <p>
                  PostalCode: {{ history.state.data.billingAddress.postalCode }}
                </p>
                <p>State: {{ history.state.data.billingAddress.state }}</p>
              </div>
              <!-- </div> -->
            </div>

            <tbody>
              <h4 class="title-01 mt-4">
                Rep Name: {{ history.state.data.billingAddress.repName }}
              </h4>
              <h4 class="title-01 mt-4">
                Vehicle Name: {{ history.state.data.vehicleName }}
              </h4>

              <div
                *ngFor="let item of history.state.data.items; let i = index"
                class="mt-4"
              >
                <div class="d-flex-column">
                  <!-- <div class="index">
                    <h1 class="mx-2 .index-row">{{ i + 1 }}</h1>
                  </div> -->
                  <div class="item">
                    <span class="title-02">Service: {{ item.item }}</span>
                  </div>

                  <div class="unit">
                    <span class="title-02">Unit: {{ item.unit }}</span>
                  </div>
                  <div class="rate">
                    <span class="title-02"
                      >Rate: {{ item.rate | currency: "NGN" }}</span
                    >
                  </div>
                  <div class="amount">
                    <span class="title-02">
                      Amount: {{ item.amount | currency: "NGN" }}</span
                    >
                  </div>
                </div>
              </div>

              <div class="total mt-4">
                <span class="title-04">
                  Total Amount:
                  {{ history.state.data.totalAmount | currency: "NGN" }}
                </span>
              </div>
            </tbody>
          </div>
        </div>
      </div>

      <div class="d-flex mb-4">
        <button (click)="sendInvoice(history.state.data)" class="btn add-btn">
          Send To Client
        </button>
        <button (click)="backToQuote($event)" class="btn add-btn">
          <span><i class="fas fa-arrow-left mx-2"></i>Back</span>
        </button>
      </div>
    </div>
  </div>
</div>
