/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
 * {
     box-sizing: border-box;
     padding: 0;
     margin: auto;
 }

 body {
     background-color: rgb(239, 239, 246);
     margin-top: 20px;
 }