<div class="dashboard-main-wrapper">

    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <app-side-menu></app-side-menu>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="mb-2"> Dashboard </h3>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    </div>
                </div>
            </div> -->
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <!-- <div class="row">
                
            </div>
            <div class="row"> -->
                <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Total Income</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$5,79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Total Expences</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$1,79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-danger bg-danger-light"><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">15%</span>
                            </div>
                        </div>
                        <div class="card-body text-center bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue2"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Cash on Hand</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$79,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-t-40 p-b-40">
                            <div id="sparkline-revenue3"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Net Profit Margin</h5>
                        <div class="card-body">
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">$92,000</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span> <span class="ml-1">25%</span>
                            </div>
                        </div>
                        <div class="card-body bg-light p-b-40 p-t-40">
                            <div id="sparkline-revenue4"></div>
                        </div>
                        <div class="card-footer text-center bg-white">
                            <a href="#" class="card-link">View Details</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


</div>