<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <app-side-menu></app-side-menu>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->

  <div class="dashboard-wrapper">
    <div class="dashboard-finance">
      <div class="container-fluid dashboard-content">
        <div class="header d-flex">
          <div class="box">
            <h1 class="title">Services</h1>
          </div>
          <div class="box">
            <button
              type="button"
              class="btn add-btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="clickAddService()"
            >
              Add Service
            </button>
          </div>
        </div>

        <ng-container>
          <div
            *ngIf="alertInstance === 'Successful'"
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <strong>Congrats!</strong> Service added successfully
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Error, Try Again'"
            class="alert alert-02 alert-warning alert-dismissible fade show"
            role="alert"
          >
            <strong>Ooops!</strong> Something went wrong.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Updated'"
            class="alert alert-info alert-dismissible fade show"
            role="alert"
          >
            <strong>Good!</strong> Data updated successfully.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
            *ngIf="alertInstance === 'Deleted'"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Successful!</strong> Data deleted.
            <button
              (click)="closeAlert()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          
        </ng-container>

        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th class="service" (click)="sortData()" scope="col">
                Type of Service
              </th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of serviceData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ row.name | capitalize }}</td>

              <td>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="onEdit(row)"
                  class="btn btn-outline-primary edit-btn"
                >
                  Edit
                </button>
                <button
                  (click)="deleteService(row)"
                  class="btn btn-outline-danger mx-3"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!------------------------------------------- MODAL ------------------------------------>

        <div
          class="modal fade bd-example-modal-lg"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Service</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formValue">
                  <div class="form-group">
                    <label for="name">Services</label>
                    <input
                      type="text"
                      class="form-control"
                      style="text-transform: capitalize"
                      id="name"
                      aria-describedby="nameHelp"
                      formControlName="name"
                    />
                  </div>
                </form>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    data-bs-dismiss="modal"
                    id="cancel"
                  >
                    Close
                  </button>
                  <button
                    (click)="postServiceDetails()"
                    type="button"
                    class="btn add-btn"
                    *ngIf="showAdd"
                  >
                    Add
                  </button>
                  <button
                    (click)="updateServiceDetail()"
                    class="btn add-btn mx-3"
                    *ngIf="showUpdate"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
